
#projtemp-header-bkgd {
    position: fixed;
    height: 12%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(
        to bottom, black, transparent
    );
    z-index: 1;
}


@keyframes projtemp-logo-entrance {
    to {opacity: 0.1}
}
.projtemp-logo {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;

    opacity: 0;
    /* animation-name is applied on first film's image load */
    /* animation-name: projtemp-logo-entrance; */
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
    overflow-y: scroll;
}


@keyframes projtemp-page-entrance {
    to {opacity: 1}
}
.projtemp-page {
    position: relative;
    height: 100%;
    width: 100%;
    overflow-y: scroll;

    opacity: 0;
    /* animation-name is applied on first film's image load */
    /* animation-name: projtemp-page-entrance; */
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
    overflow-y: scroll;
}
@media (min-width: 500px) {
    .projtemp-page {
        font-size: 20px;
    }
}
@media (max-width: 499px) {
    .projtemp-page {
        font-size: 15px;
    }
}


.projtemp-top {
    position: relative;
    height: 500px;
    width: 100%;
    font-weight: 500;
    background-color: rgb(25,25,25);
    text-shadow: 0 0 30px black, 0 0 30px black, 0 0 30px black;

    display: flex;
    justify-content: center;
    align-content: center;
}


.projtemp-top img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0.5;
}


.projtemp-top-inner {
    position: relative;
    width: 100%;
    margin: auto auto;
}
.projtemp-top-inner-top {
    position: relative;
    width: 100%;
    margin-bottom: 15px;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}


.projtemp-back-button {
    position: relative;
    align-self: center;
    font-size: 25px;
    line-height: 100%;
    flex-basis: 10%;
    flex-shrink: 1;

    color: white;
    text-decoration: none;
    transition-duration: 0.4s;

    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
}
.projtemp-back-button:hover {
    opacity: 0.6;
}
@media (max-width: 699px) {
    .projtemp-back-text {
        display: none;
    }
    .projtemp-back-button {
        font-size: 30px;
        padding-left: 10px;
    }
    .projtemp-top-inner-spacer {
        padding-right: 10px;
    }
}


.projtemp-title {
    position: relative;
    text-align: center;
    font-size: 250%;
    line-height: 100%;
    font-family: 'Jost';
    font-weight: normal;
    margin: 0 30px;
}


.projtemp-top-inner-spacer {
    flex-basis: 10%;
    flex-shrink: 1;
}


.projtemp-top-text {
    margin: auto;
    font-style: italic;
    text-align: center;
}
@media (min-width: 500px) {
    .projtemp-top-text {
        width: 60%;
    }
}
@media (max-width: 499px) {
    .projtemp-top-text {
        width: 75%;
    }
}
.projtemp-top-text a {
    text-decoration: none;
    color: cyan;
    border-bottom: 1px solid cyan;
    padding-bottom: 1px;
    transition-duration: 0.4s;
}
.projtemp-top-text a:hover {
    opacity: 0.6;
}


.projtemp-main {
    position: relative;
    margin: auto;
}
@media (min-width: 800px) {
    .projtemp-main {
        width: 80%;
    }
}
@media (max-width: 799px) {
    .projtemp-main {
        width: 100%;
    }
}


.projtemp-li-container {
    width: 95%;
}
.projtemp-li-container a {
    text-decoration: none;
    color: cyan;
    border-bottom: 1px solid cyan;
    padding-bottom: 1px;
    transition-duration: 0.4s;
}
.projtemp-li-container a:hover {
    opacity: 0.6;
}
@media (min-width: 800px) {
    .projtemp-li-container {
        margin: 150px auto;
    }
    .projtemp-li {
        display: inline-flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
    }
    .projtemp-li-imgIsLeft {
        justify-content: flex-start;
    }
    .projtemp-li-imgIsRight {
        justify-content: flex-end;
        text-align: right;
    }
    .projtemp-li-imgIsLeft .projtemp-li-imgdiv {
        padding-right: 30px;
    }
    .projtemp-li-imgIsRight .projtemp-li-imgdiv {
        padding-left: 30px;
    }
    .projtemp-li-text {
        flex-basis: 500px;
        flex-shrink: 1;
    }
    .projtemp-li-imgdiv {
        flex-basis: 500px;
        flex-shrink: 1;
    }
}
@media (max-width: 799px) {
    .projtemp-li-container {
        margin: 100px auto;
    }
    .projtemp-li {
        width: 90%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
    }
    .projtemp-li .projtemp-li-imgdiv {
        padding-bottom: 10px;
    }
    .projtemp-li-imgIsRight {
        flex-direction: column-reverse;
    }
}
.projtemp-li img {
    width: 100%;
    object-fit: cover;
}


.projtemp-main b {
    font-weight: 700;
    font-style: italic;
}


.projtemp-bottom-back {
    position: relative;
    width: 100%;
    font-size: 25px;
    line-height: 100%;
    margin-bottom: 50px;

    color: cyan;
    text-decoration: none;
    transition-duration: 0.4s;

    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.projtemp-bottom-back:hover {
    opacity: 0.6;
}