
@keyframes films-page-entrance {
    to {opacity: 1}
}
.films-page {
    position: relative;
    height: 100%;
    width: 100%;

    opacity: 0;
    /* animation-name is applied on first film's image load */
    /* animation-name: films-page-entrance; */
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
    overflow-y: scroll;
}


#films-header-bkgd {
    position: fixed;
    height: 12%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(
        to bottom, black, transparent
    );
    z-index: 1;
}


#filmspage-title {
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 50px;
}
@media (min-width: 500px) {
    #filmspage-title {
        margin: 50px 0;
    }
}
@media (max-width: 499px) {
    #filmspage-title {
        margin: 50px 0;
        margin-top: 0;
    }
}


#other-works-title {
    position: relative;
    width: 100%;
    font-size: 35px;
    text-align: center;
    margin-top: 40px;
}
#other-works {
    width: 90%;
    margin: 40px auto;
}
#other-works th {
    font-family: 'Jost';
    font-style: italic;
    text-align: right;
    vertical-align: top;
    padding-right: 15px;
    width: 50%;
}
#other-works td {
    padding-left: 15px;
}
#other-works th, td {
    padding-bottom: 10px;
}
@media (min-width: 500px) {
    #other-works {
        font-size: 20px;
    }
}
@media (max-width: 499px) {
    #other-works {
        font-size: 15px;
    }
}