
/* Container for item in menu */
@keyframes first-menu-animation {
    from {top: 150%}
    to {top: 20%}
    30% {opacity: 0}
    100% {opacity: 1}
}
.menu-item-container {
    position: relative;
    /* Height slightly larger than text size so
       THIS will always be mouseentered first */
    height: 30px;
}
@media (min-width: 500px) {
    .menu-item-container-media {
        top: 150%;
        margin-right: 10px;
        margin-left: 10px;
        opacity: 0;
        animation-name: first-menu-animation;
        animation-duration: 1.2s;
        animation-fill-mode: forwards;
    }
}
@media (max-width: 499px) {
    .menu-item-container-media {
        margin-top: 5px;
    }
}


/* Each menu item within the menu */
.menu-item {
    position: relative;
    top: 0%;
    font-size: 22px;
    color: white;
    text-decoration: none;
    border-bottom: 2px solid white;
    font-family: 'Jost';
    opacity: 0.75;
    transition-duration: 0.15s;
}
@media (max-width: 499px) {
    .menu-item {
        opacity: 1;
    }
}
@media (min-width: 500px) {
    .menu-item-container:hover .menu-item {
        opacity: 1;
        top: -1.5px;
        padding-bottom: 3px;
    }
}


/* Bottom border transition to red on-active */
@keyframes menu-item-active-anim {
    to {border-bottom-color: red}
}
.menu-item-active {
    animation-name: menu-item-active-anim;
    animation-duration: 0.4s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    border-bottom-color: white;
}