
@keyframes header-entrance {
    from {top: -100px}
    to {top: 0;}
}
#header {
    position: fixed;
    height: 8%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;

    display: inline-flex;
    flex-wrap: nowrap;
    justify-content: space-between;

    animation-name: header-entrance;
    animation-duration: 1.2s;
}


#header-left {
    position: relative;
    height: 100%;
    flex-shrink: 1;
    flex-basis: 30%;
    padding: 10px;
}
#header-right {
    position: relative;
    height: 100%;
    white-space: nowrap;
    padding-right: 20px;
    
    display: inline-flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    flex-basis: 40%;
}


.my-name {
    position: relative;
    left: 5px;

    height: 100%;
    
    /* color: white; */
    color: #ffc1cc;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    animation-name: name-rainbow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-play-state: paused;
}
@media (min-width: 580px) {
    .my-name-media {
        font-size: 35px;
        white-space: nowrap;
        line-height: 100%;
    }
}
@media (max-width: 579px) {
    .my-name-media {
        font-size: 25px;
        white-space: wrap;
        line-height: 90%;
    }
}


.header-spacer {
    position: relative;
    height: 12%;
}
