
/* Animation for header items to enter */
@keyframes header-entrance {
    from {top: -100px}
    to {top: 0;}
}


.header-left {
    position: fixed;
    margin: 10px;
    filter: drop-shadow(0 0 20px black);
    z-index: 4;
}
@media (min-width: 800px) {
    .header-left {
        top: 8px;
    }
}


.my-name {    
    color: #ffc1cc;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    animation-name: header-entrance;
    animation-duration: 1.2s;
}
@media (min-width: 580px) {
    .my-name {
        font-size: 35px;
        white-space: nowrap;
        line-height: 100%;
    }
}
@media (max-width: 579px) {
    .my-name {
        font-size: 25px;
        white-space: wrap;
        width: 10%;
        line-height: 90%;
    }
}


@media (min-width: 800px) {
    #header-left-br {
        display: none;
    }
}


.header-icon-left {
    position: relative;
    font-size: 24px;
    transition-duration: 0.4s;
    top: 2px;
}
.header-icon-left:hover {
    opacity: 0.6;
    top: -1px;
}
@media (max-width: 499px) {
    .header-icon-left {
        display: none;
    }
}
@media (max-width: 799px) {
    .header-icon-left {
        margin-right: 8px;
    }
}
@media (min-width: 800px) {
    .header-icon-left {
        margin-right: 15px;
    }
    #first-header-icon-left {
        margin-left: 40px;
    }
}


/* Menu on right side of header */
.header-right {
    position: fixed;
    top: 0;
    right: 0;
    white-space: nowrap;
    text-shadow: 0 0 20px black;
    
    display: inline-flex;
    flex-wrap: nowrap;

    z-index: 2;
}
@media (min-width: 500px) {
    .header-right {
        height: 12vh;
        width: 100%;
        margin-right: 20px;

        flex-direction: row;
        justify-content: space-evenly;

        animation-name: header-entrance;
        animation-duration: 1.2s;
    }
}
@media (max-width: 499px) {
    .header-right {
        height: 0;
        padding-right: 5%;
        padding-left: 100%;
        padding-top: 60px;
        padding-bottom: 5%;
        right: -200px;
        opacity: 0;

        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;

        transition-duration: 0.4s;
    }
}
@media (max-width: 499px) {
    .header-open {
        height: 100vh;
        right: 0;
        opacity: 1;
        background-image: linear-gradient(
            to left, black, transparent
        );
    }
}
@media (min-width: 500px) {
    .header-right-spacer {
        min-width: 20%;
        flex-basis: 60%;
    }
}


/* Burger menu icon */
@media (min-width: 500px) {
    .burger-menu-icon-container {
        display: none;
    }
}
@media (max-width: 499px) {
    .burger-menu-icon-container {
        position: fixed;
        width: 100vw;
        text-align: right;
        z-index: 3;

        animation-name: header-entrance;
        animation-duration: 1.2s;
    }
    .burger-menu-icon {
        margin-top: 4%;
        margin-right: 4%;
        font-size: 35px;
        color: white;
        transition-duration: 0.4s;
        cursor: pointer;
    }
    .burger-open {
        transform: rotate(90deg);
    }
}


.header-icon-mobile {
    font-size: 30px;
    line-height: 40px;
}
@media (min-width: 500px) {
    .header-icon-mobile {
        display: none;
    }
}
#first-header-icon-mobile {
    margin-top: 25px;
}