
/* Animation for header items to enter */
@keyframes header-entrance {
    from {top: -100px}
    to {top: 0;}
}


/* Ben Manley on left side of header */
.my-name {
    position: fixed;
    margin: 10px;
    z-index: 4;
    
    color: #ffc1cc;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    animation-name: header-entrance;
    animation-duration: 1.2s;
}
@media (min-width: 580px) {
    .my-name-media {
        font-size: 35px;
        white-space: nowrap;
        line-height: 100%;
    }
}
@media (max-width: 579px) {
    .my-name-media {
        font-size: 25px;
        white-space: wrap;
        width: 10%;
        line-height: 90%;
    }
}


/* Menu on right side of header */
.header-right {
    position: fixed;
    top: 0;
    right: 0;
    white-space: nowrap;
    
    display: inline-flex;
    flex-wrap: nowrap;

    z-index: 2;
}
@media (min-width: 500px) {
    .header-right-media {
        height: 18vh;
        width: 100%;
        margin-right: 20px;

        flex-direction: row;
        justify-content: space-evenly;

        animation-name: header-entrance;
        animation-duration: 1.2s;
    }
}
@media (max-width: 499px) {
    .header-right-media {
        height: 25vh;
        padding-right: 5%;
        padding-left: 20%;
        padding-top: 60px;
        padding-bottom: 5%;
        right: -200px;
        opacity: 0;

        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;

        transition-duration: 0.4s;
    }
}
@media (max-width: 499px) {
    .header-open {
        right: 0;
        opacity: 1;
        background-image: linear-gradient(
            to left, black, transparent
        );
    }
}
@media (min-width: 500px) {
    .header-right-spacer {
        min-width: 20%;
        flex-basis: 60%;
    }
}


/* Burger menu icon */
@media (min-width: 500px) {
    .burger-menu-icon-container {
        display: none;
    }
}
@media (max-width: 499px) {
    .burger-menu-icon-container {
        position: fixed;
        width: 100vw;
        text-align: right;
        z-index: 3;

        animation-name: header-entrance;
        animation-duration: 1.2s;
    }
    .burger-menu-icon {
        margin-top: 4%;
        margin-right: 4%;
        font-size: 35px;
        color: white;
        transition-duration: 0.4s;
        cursor: pointer;
    }
    .burger-open {
        transform: rotate(90deg);
    }
}
