body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: rgb(25, 25, 25);
  color: white;
  /* overflow-y: hidden; */
  /* overflow-x: auto; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#index-div {
  position: absolute;
  /* Removing this fixed a bug involving overflow-x
     and a difference in header position between the
     About and Films pages */
  height: 100%;
  width: 100%;
  overflow-y: hidden;
}